#form_container
{
	background: #9b9b9b;	
  font-weight: bolder;
}

.left{
  width: 25%;
  float: left;
  text-align: right;
}

.right{
  width: 65%;
  margin-left: 2px;
  float: left;
}

.button{
  margin: 1rem;
}
